<%= form_for @staff, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
	
	<h4>Text to describe staff member:</h4>
    <%= f.text_area :text, class: "full-width-text-area" %><br>

    <h4>Choose ONE photo:</h4>
    <%= file_field_tag "images[]", type: :file, multiple: true %><br><br>

    <%= f.submit "Add staff member", :class => 'btn btn-large btn-primary' %>

<% end %>