<div class="row">
  <div class="span6 offset3">
  <h4>Update this FAQ</h4>
    <%= form_for @faq, url: {controller: "faqs", action: "update"}, :html => { :multipart => true }, method: :patch do |form| %>
      Question:<br>
      <%= form.text_field :question %><br><br>

      Answer:<br>
      <%= form.text_field :answer %><br><br>

      <%= form.submit "Update FAQ", class: "btn btn-large" %>
    <% end %>
    
  </div>
</div>