<div class="row-fluid" id="home-whole">

<div class="span10">

<div class="autoplay slick span12" id="slider">
        <div><img class="stretchX" src="/photo1.jpg"></div>
        <div><img class="stretchX" src="/photo2.jpg"></div>
        <div><img class="stretchX" src="/photo3.jpg"></div>
</div>

<div id="overlay-text">
<div id="desc-first">S.C.H.O.L.A.R. inspires students to study science,</div>

<div id="desc-sec">technology, engineering, and math.</div>
</div>
</div>


<div class="span2" id="home-span-2">
<%= link_to(press_path(1)) do %>
<div id="learn-button">

<p id="attend">attend</p>
<p id="teach">teach</p>
<p id="donate">donate</p>
<br>
<p id="learn">Learn more  ></p>
<br>
<p id="volunteer">volunteer</p>
<p id="apply">apply</p>

</div>
<% end %>

</div>


</div>


<% if signed_in? %>
<%= button_to "Edit this page", edithomepage_path, :method => :get, :form_class => "edit" %>
<% end %>

