<h4>Current admins</h4>

<% @users.each do |user| %>
	<li>
	<%= user.name + "  |  " %>
	<%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
    </li>
<% end %>