<h4>Text to appear on the History page:</h4>

<%= form_tag "/histories/" + params[:id] + "/updatetext", method: "patch" do %>
		<%= text_area_tag(:text) %><br><br>
		
		<%= submit_tag("Update text") %>
<% end %>