<h4>Text to appear on the "Where are they now?" page:</h4>
<%= form_tag "/results/" + params[:id] + "/updatetext", method: "patch" do %>
		<%= text_area_tag(:text) %><br><br>
		
		<%= submit_tag("Update text") %>
<% end %>