<h4>Choose a new application file to upload:</h4>
<%= form_for @apply, url: {controller: "apply", action: "update"}, :html => { :multipart => true }, method: :patch do |form| %>
  <%= form.file_field :application %><br><br>
  <%= form.submit "Update application", class: "btn btn-large" %>
<% end %>