<div class="row-fluid" id="home-whole">

<div class="span10">

<div class="autoplay slick span12" id="slider">
<% @home_page.pictures.each do |picture| %>
        <div><img class="stretchX" src=<%= picture.image.url%> ></div>
<% end %>
</div>

<div id="overlay-text">
<div id="desc-first">S.C.H.O.L.A.R. inspires students to study science,</div>

<div id="desc-sec">technology, engineering, and math.</div>
</div>
</div>


<div class="span2" id="home-span-2">
<%= link_to(history_path(1)) do %>
<div id="learn-button">

<div id="learn-button-inside">
<p id="attend" class="button-text">attend</p>
<p id="teach" class="button-text">teach</p>
<br>
<p id="learn" class="button-text">Learn more  ></p>
<br>
<p id="donate" class="button-text">donate</p>
<p id="volunteer" class="button-text">volunteer</p>
<p id="apply" class="button-text">apply</p>
</div>

</div>
<% end %>

</div>


</div>


<% if signed_in? %>
<%= button_to "Update these photos", edit_home_page_path(1), :method => :get, :form_class => "edit", class: "btn btn-large" %>
<% end %>