<h4>Update headline for the 'Teach or Volunteer' page:</h4>
    <%= form_for @headline, url: {controller: "headlines", action: "update_volunteers_headline"}, :html => { :multipart => true }, method: :patch do |form| %>

      <%= form.text_field :volunteers %><br><br>

      <%= form.submit "Update headline", class: "btn btn-large" %>
    <% end %>