<h4>Update headline for Curriculum page:</h4>
    <%= form_for @headline, url: {controller: "headlines", action: "update_courses_headline"}, :html => { :multipart => true }, method: :patch do |form| %>

      <%= form.text_field :courses %><br><br>

      <%= form.submit "Update headline", class: "btn btn-large" %>
    <% end %>