<h3><%= @medium.name %></h3>
<h4><%= @medium.description %></h4>

<div class="container">
	<ul class="row" id="gallery-ul">
      <% @medium.pictures.each do |picture| %>
		<li><%= link_to image_tag(picture.image.url(:thumb)), picture.image.url, class: "col-lg-2 gallery-photo" %></li>
	  <% end %>
	</ul>
</div>
<div id="modal-shade"></div>
<div id="modal-container">
	<div id="modal">
	</div>
</div>