<%= render 'layouts/photoscroll' %>

<div class="row-fluid">

<div class="text-container span9" id="contact-container">
<p class="headline">We want to hear from you.</p>

<p>
<%= simple_format(h @contact.text) %>

</p>

<% if signed_in? %>
<%= button_to "Edit this page", edit_contact_path(1), :method => :get, :form_class => "edit", class: "btn btn-large" %>
<% end %>
</div>

<%= render 'layouts/sidebar' %>

</div>
