<div class="row-fluid">

<div class="span9">

<%= render 'layouts/photoscroll' %>

<div class="text-container">
<p>
<%= simple_format(h @contact.text) %>

</p>

<% if signed_in? %>
<%= button_to "Edit this page", edit_contact_path(1), :method => :get, :form_class => "edit" %>
<% end %>
</div>

</div>


<%= render 'layouts/sidebar' %>

</div>
