<br>
<h4>Choose TWO photos with portrait orientation:</h4>

<%= form_for @enrichment, :html => { :class => 'form-horizontal', multipart: true } do |f| %>

      <%= file_field_tag "images[]", type: :file, multiple: true %>
      <br><br>

      <h4>Text to show up on the Enrichment page:</h4>
      <%= f.text_area :text, :class => 'text_field' %>
      <br><br>

    <%= f.submit "Update", :class => 'btn btn-large btn-primary' %>
<% end %>