<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Contact",   contact_path(1) %></li>
      <li><%= link_to "Donate", '#' %></li>
      <li><%= link_to "Sign in", signin_path, id: "sign-in-link" %></li>
    </ul>
  </nav>
</footer>